@use "@designTokens/_spacing" as tokens;

.movie-card {
  padding: tokens.$space-200;

  .movie-card-content {
    padding: 0;
    .movie-card-overview {
      max-height: 200px;
      overflow-y: scroll;
    }
  }
}
