@use "@designTokens/_spacing" as tokens;
@use "@src/common" as common;

.search-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  column-gap: tokens.$space-400;

  .clear-icon-wrapper {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
}

@include common.phone-only {
  .search-container {
    grid-template-columns: 4fr 2fr;
    column-gap: tokens.$space-100;
  }
}
